[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
alembic = "==1.*"
httpx = "==0.*"
psycopg2-binary = "==2.*"
tenacity = "==8.*"
sqlmodel = "*"
mypy = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
mock = "*"
pylint = "*"
requests = "*"
pytest-cov = "*"
pytest-xdist = "*"
mypy = "*"
pydantic = "*"
pycodestyle = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
