[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
alembic = "==1.*"
sqlalchemy = "==0.*"
httpx = "==0.*"
pydantic-settings = "==2.*"
psycopg2-binary = "==2.*"
tenacity = "==8.*"
pydantic = "==2.*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
mock = "*"
pylint = "*"
requests = "*"
pytest-cov = "*"
pytest-xdist = "*"

[requires]
python_version = "3.11"
